img{
    height: 400px;
    text-align: center;
    margin: 20px ;
    float: center;

    }     
    .body{
    background: url('/static/images/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    

}
p{
    position: relative;
    text-align:center;
    font-family:'roboto',serif;
    display: center;
   top: -15%;
   left: 150px;
   color: white;

}
h1{
    text-align: center;
    font-family:'roboto',serif;
    font-size: 20px;  
    margin: 40px 90px;
   
}
.contenedor{
    text-align: center;
    padding: 0 10px;
    margin: auto;
    
}
.logo{
    
    height: 100px;
    float: right;
    margin-right: 5%;
    position:relative;

   
}
.foto{
    cursor: pointer;
    height: 150px;
    border-radius: 59px;
    width: 150px;
    float: center;
    opacity: 0.8;
    left: 300px;
}
    figure:hover{
opacity: 0.5
    }
    
    

.titulo{
    height: 200px;
    margin: 30px;
    font-family: 'roboto'sans-serif bold ;
    font-size: 28px;
    
}
.espacio{

    
    text-align: center;
    width: 80%;
    float: right;
       
}
.imagen{
    width: 100%;
    
}
.div{
height: 450px;
}
.icono{
height: 50px;
align-items: center;
}

.lista ul li{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: top;
    margin-top: 50px;
    justify-content: center;
    

}


.contenedor2{
height:350px;

}